language: node_js
node_js:
  - "0.10"

services:
  - redis-server

before_install:
  - npm install -g npm

before_script:
  - git clone https://github.com/vladikoff/freight-server.git && cd freight-server
  - git checkout 0b251c831763070ce87c9575865d63235a088994
  - npm install && npm link ../
  - NODE_ENV=test LOG_LEVEL=debug npm start &
  - sleep 20
  - cd ..

script:
  - node_modules/.bin/grunt lint
  - mocha test/*.js --reporter=spec
